---
import MobileNav from "../MobileNav/MobileNav.astro";

interface Props {
  logo?: string;
  title?: string;
  subHeaders: "top" | "bottom" | "both" | "none";
}

const { title = "Title", logo = "" } = Astro.props;
---

<header class="text-primary fixed w-full z-10 shadow-md font-base top-0">
  <nav
    class="flex items-center px-4 py-3 pl-6 pr-6 h-16 bg-primary justify-evenly"
  >
    <div class="flex items-center mx-auto md:mx-0 text-white">
      {logo && <img src={logo} alt="Logo" class="h-8 mr-2 pr-2" />}
      <a href="#" class="font-bold text-xl">{title}</a>
    </div>
    <div class="hidden md:block">
      <ul class="flex items-center space-x-2 text-white">
        <a href="/" class="group text-lg pr-6">
          Home
          <span
            class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-paletteColor4"
          ></span>
        </a>
        <a href="/about" class="group text-lg pr-6">
          About
          <span
            class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-paletteColor4"
          ></span>
        </a>
        <a href="/services" class="group text-lg pr-6">
          Services
          <span
            class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-paletteColor4"
          ></span>
        </a>
        <a href="contact" class="group transition text-lg pr-6">
          Contact
          <span
            class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-paletteColor4"
          ></span>
        </a>
      </ul>
    </div>

    <MobileNav />
  </nav>
</header>
