<div class="flex-col">
  <button
    id="drawer-toggle"
    class="flex items-center justify-center w-10 h-10 rounded-md focus:outline-none transition duration-300"
  >
    <span class="sr-only">Open main menu</span>
    <ul class="list-none p-0 m-0">
      <li
        class="w-6 h-0.5 bg-white rounded-sm transform transition duration-300"
      >
      </li>
      <li
        class="w-6 h-0.5 bg-white rounded-sm mt-1 transform transition duration-300"
      >
      </li>
      <li
        class="w-6 h-0.5 bg-white rounded-sm mt-1 transform transition duration-300"
      >
      </li>
    </ul>
  </button>
</div>

<style>
  #drawer-toggle li {
    background-color: white;
  }

  #drawer-toggle:hover li {
    background-color: gray;
  }
</style>

<!-- <script src="../../scripts/local.ts"></script> -->
<script>
  const drawerToggle = document.getElementById("drawer-toggle");
  const drawer = document.getElementById("drawer");

  drawerToggle?.addEventListener("click", () => {
    drawer?.classList.toggle("translate-x-full");
  });
</script>
