<div class="flex">
  <div
    id="drawer"
    class="fixed top-0 right-0 z-20 w-64 h-full bg-paletteColor1 shadow-xl transition duration-300 transform translate-x-full font-base"
  >
    <div class="flex justify-between items-center px-6 py-4">
      <button
        id="drawer-close"
        class="p-2 transition-all duration-500 bg-paletteColor1 rounded-lg"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 text-white"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <div class="px-6 py-4">
      <ul>
        <!-- <li class="py-2">
          <a
            href="/"
            class="flex items-center text-white hover:text-gray-300 text-lg transition-all duration-300"
          >
            <i class="fa fa-home ml-2 mr-3"></i>
             Home
          </a>
        </li>
        <li class="py-2">
          <a
            href="/about"
            class="flex items-center text-white hover:text-gray-300 text-lg transition-all duration-300"
          >
            <i class="fa fa-info-circle ml-2 mr-3"></i>
             About
          </a>
        </li> -->
        <li class="py-2">
          <a
            href="/services"
            class="flex items-center text-white hover:text-gray-300 text-lg transition-all duration-300"
          >
            <i class="fa fa-desktop ml-2 mr-3 text-paletteColor2"></i>
             Services
          </a>
        </li>
        <li class="py-2">
          <a
            href="/contact"
            class="flex items-center text-white hover:text-gray-300 text-lg transition-all duration-300"
          >
            <i class="fa fa-envelope ml-2 mr-3 text-paletteColor2"></i>
             Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const drawer = document.getElementById("drawer");
    const drawerClose = document.getElementById("drawer-close");

    drawerClose?.addEventListener("click", () => {
      drawer?.classList.toggle("translate-x-full");
    });
  });
</script>
