---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main/Main.astro";
import SideNav from "../components/SideNav/SideNav.astro";
---

<Layout title="Template Title">
  <Main>
    <div>
      <div class="flex items-center justify-center h-full">
        <p class="text-gray-400 italic">Add content here</p>
      </div>
      <div>
        <SideNav />
      </div>
    </div>
  </Main>
</Layout>
