---
import Card from "../components/Card/Card.astro";
import Main from "../components/Main/Main.astro";
import Layout from "../layouts/Layout.astro";
import PriceCard from "../components/PriceCard/PriceCard.astro";
---

<Layout title="Template Title">
  <Main>
    <div class="min-h-screen flex flex-col items-center">
      <div class="animate-fade-in">
        <p class="text-3xl font-bold text-paletteColor1 mb-4 pb-2">
          So, What Do <span class="text-paletteColor3">We</span> Do<span
            class="text-paletteColor3">?</span
          >
        </p>
      </div>
      <div class="animate-fade-in">
        <div class="pb-8">
          <p class="text-lg italic text-gray-800 mb-4 pb-2 relative">
            <span class="quotation-mark text-paletteColor3 text-3xl font-mono"
              >"</span
            >
             At WebDevDude, we're not just a web development service; we're your
            trusty allies in the online world. Our mission? Making your online
            presence hassle-free and helping it stand out. You handle <strong
              class="font-bold text-paletteColor3">your business</strong
            >, we handle the tech. We're just a call or text away. Let's take
            your online game up a notch with our web services.
            <span class="quotation-mark text-paletteColor3 text-3xl font-mono"
              >"</span
            >
          </p>
          <div class="left-1/4 w-3/5 h-0.5 bg-paletteColor4 mx-auto"></div>
        </div>
      </div>
      <div class="pb-14 animate-fade-in justify-center">
        <p
          class="text-3xl font-bold text-paletteColor1 mb-4 pb-2 w-full justify-center inline-flex"
        >
          Services
        </p>
        <Card
          id="1"
          title="Custom Responsive Website"
          bullets={[
            "5 unique pages + contact page",
            "Handwritten code for design control",
            "On-page SEO",
          ]}
          modalBody="Our specialty? Crafting a fully responsive, custom website from scratch. No pre-made templates here. You'll have 5 unique pages at your disposal, including a sleek contact page. We write the code for a unique touch. Plus, we work our SEO magic for better visibility."
          href="/services"
          imageSrc="/images/computer.webp"
        />
      </div>
      <div class="pb-14 animate-fade-in">
        <Card
          id="2"
          title="Unlimited Edits & Graphics"
          bullets={[
            "Quick edits for promos",
            "Easy call or text support",
            "Graphics included",
          ]}
          selectPlansOnly={true}
          modalBody="Simplicity is our game. With us, you've got the freedom to edit and update your site without constraints. Need a last-minute promo or a fresh offer? We're on it, no waiting around. We're not your typical techies; we're just a call or text away for all your support and change needs. And if your site could use a touch of visual flair, we've got the design skills to make it pop."
          href="/services"
          imageSrc="/images/edit.webp"
        />
      </div>
      <div class="pb-14 animate-fade-in">
        <Card
          id="3"
          title="Google Business Account"
          bullets={["Setup & optimization"]}
          modalBody="Now, let's chat about Google, the big player in the online game. We're here to help you establish a robust Google Business presence for boosted online visibility. Need assistance with setting up and optimizing your Google Business Account? You're covered. Our mission is making your mark in the digital world, and we're your guides with a friendly, knowledgeable touch."
          href="/services"
          imageSrc="/images/business.webp"
        />
      </div>
      <div class="pb-14 animate-fade-in">
        <Card
          id="4"
          title="Traffic-Boosting Focus"
          selectPlansOnly={true}
          bullets={["High-ranking, SEO-friendly website", "We handle it all"]}
          modalBody="Let's get straight to the point. Our top goal? Driving traffic to your website, ultimately boosting your business. How do we do it? By crafting a high-ranking, top-performing website that secures prime real estate in Google's search results. And here's the kicker: we handle all the nitty-gritty details, so you can leave the tech stuff to us."
          href="/services"
          imageSrc="/images/traffic.webp"
        />
      </div>

      <div class="pb-14 animate-fade-in">
        <p
          class="text-3xl font-bold text-paletteColor1 mb-4 pb-2 w-full justify-center inline-flex"
        >
          Pricing
        </p>
        <div class="pb-14 animate-fade-in flex flex-wrap justify-center">
          <div class="w-full md:w-1/2 pb-6">
            <PriceCard
              price={1000}
              priceDescription="+ $5 /month hosting fee"
              type="fixed"
              packageName="Basic"
              subTitle="5 Pages + Contact Page"
              disclaimer="Future edits at $85/hour"
              bullets={[
                "High Performing Responsive Website",
                "Google Business Setup",
              ]}
            />
          </div>
          <div class="w-full md:w-1/2 pb-6 md:pl-4">
            <PriceCard
              price={75}
              type="monthly"
              packageName="Partnership"
              buttonLabel="Let's Partner"
              priceDescription="Valid for the first 6 months, then $100/month"
              description="$0 Down"
              subTitle="5 Pages + Contact Page"
              bullets={[
                "High Performing Responsive Website",
                "Unlimited Edits & Support",
                "Google Business Setup",
                "Traffic Boosting & SEO",
                "Hosting Included!",
              ]}
            />
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("astro:page-load", () => {
        const cards = document.querySelectorAll(".animate-fade-in");
        const animateCards = () => {
          cards.forEach((card) => {
            const cardTop = card.getBoundingClientRect().top;
            const cardBottom = card.getBoundingClientRect().bottom;
            const windowHeight = window.innerHeight;
            if (cardTop < windowHeight && cardBottom >= 0) {
              card.classList.add("animate-fade-in-active");
            }
          });
        };
        animateCards();
        window.addEventListener("scroll", animateCards);
      });
    </script>
  </Main>

  <style>
    .hidden {
      opacity: 0;
    }
    .animate-fade-in {
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }
    .animate-fade-in-active {
      opacity: 1;
    }
  </style>
</Layout>
