---
import Card from "../components/Card/Card.astro";
import Main from "../components/Main/Main.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Template Title">
  <Main>
    <div class="min-h-screen flex flex-col items-center">
      <p class="text-3xl font-bold text-gray-800 mb-4 pb-2">
        Service Explained
      </p>
      <div class="pb-14">
        <Card
          title="Custom Responsive Website"
          bullets={[
            "5 unique pages + contact page",
            "Handwritten code for design control",
            "On-page SEO",
            "Hosting included",
          ]}
          body="test body"
          href="/services"
          ,
          imageSrc="/images/computer.webp"
        />
      </div>
      <div class="pb-14">
        <Card
          title="Unlimited Edits & Graphics"
          bullets={[
            "Quick edits for promos",
            "Easy call or text support",
            "Graphics included",
          ]}
          body="test body"
          href="/services"
          imageSrc="/images/edit.webp"
        />
      </div>
      <div class="pb-14">
        <Card
          title="Google Business Account"
          bullets={["Setup & optimization"]}
          body="test body"
          href="/services"
          imageSrc="/images/business.webp"
        />
      </div>
      <div class="pb-14">
        <Card
          title="Traffic-Boosting Focus"
          bullets={["High-ranking, SEO-friendly website", "We handle it all"]}
          body="test body"
          href="/services"
          imageSrc="/images/traffic.webp"
        />
      </div>
    </div>
  </Main>
</Layout>
