---
interface Props {
  companyName: string;
  location: string;
}

const {
  companyName = "Company Name",
  location = "Northwest Indiana/Lowell area",
} = Astro.props;
---

<footer class="bg-paletteColor1 text-white">
  <div class="lg:flex justify-between px-4 py-3">
    <div
      class="flex w-full items-center justify-center lg:flex lg:justify-between lg:w-fit pb-1 lg:pb-0"
    >
      <ul class="flex items-center space-x-4">
        <!-- <li>
          <a
            href="tel:+12197652170"
            class="text-xl text-paletteColor2 hover:text-gray-300 transition duration-300"
          >
            <i class="fa fa-phone"></i>
          </a>
        </li> -->
        <li>
          <a
            href="/contact"
            class="text-xl text-paletteColor2 hover:text-gray-300 transition duration-300"
          >
            <i class="fa fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>
    <div></div>
    <div
      class="flex w-full items-center justify-center lg:flex lg:justify-between lg:w-fit"
    >
      <p class="text-sm font-base text-paletteColor2">
        © 2023 {companyName} All rights reserved.
      </p>
    </div>
    <div
      class="flex w-full items-center justify-center lg:flex lg:justify-between lg:w-fit"
    >
      <p class="text-sm font-base text-paletteColor2">
        Based out of {location}
      </p>
    </div>
  </div>
</footer>
