---
interface Props {
  companyName: string;
}

const { companyName = "Company Name" } = Astro.props;
---

<footer class="bg-paletteColor1 text-white">
  <div class="md:flex justify-between px-4 py-3">
    <div
      class="flex w-full items-center justify-center md:flex md:justify-between md:w-fit pb-1 md:pb-0"
    >
      <ul class="flex items-center space-x-4">
        <li>
          <a
            href="#"
            class="text-xl hover:text-gray-300 transition duration-300"
          >
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="text-xl hover:text-gray-300 transition duration-300"
          >
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="text-xl hover:text-gray-300 transition duration-300"
          >
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
    <div
      class="flex w-full items-center justify-center md:flex md:justify-between md:w-fit"
    >
      <p class="text-sm font-base">
        © 2023 {companyName}. All rights reserved.
      </p>
    </div>
  </div>
</footer>
