---
import Header from "../components/Header.astro";
import Footer from "../components/Footer/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script
      src="https://kit.fontawesome.com/f77054c5ea.js"
      crossorigin="anonymous"></script>
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <Header title="Temp Title" logo="/temp_logo.png" />
  </head>
  <body>
    <div class="pt-20 min-h-screen">
      <slot />
    </div>
    <Footer companyName="Test Company" />
  </body>
</html>
